<!--
  Generated template for the BirthdaysPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Birthdays</ion-title>
    </ion-navbar>
</ion-header>


<ion-content auto-hide>
    <ion-list>
        <div *ngFor="let contactKeys of bdayContactsKeys">
            <ion-list-header *ngIf="bdayContacts[contactKeys].length > 0">
                {{gblVar.month[contactKeys]}}
            </ion-list-header>
            <ion-item *ngFor="let contacts of bdayContacts[contactKeys];let i = index" (click)="contactClicked(contacts)">
                <ion-avatar item-start>
                    <button text-uppercase> {{getFirstLetter(contacts)}}</button>
                </ion-avatar>
                <h3>{{contacts.displayName}}</h3>
                <p>{{contacts.birthday | date:'dd/MM/yyyy'}}</p>
            </ion-item>
            <hr>
        </div>
    </ion-list>

    <ion-fab bottom right #fab>
        <button ion-fab (click)="createEvent($event)">
            <ion-icon name="ios-create-outline"></ion-icon>
        </button>
    </ion-fab>
</ion-content>